footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding: $marge;
    background-color: $color-cyan;
    h2{
        font-size: clamp(2em, 3vw, 3em);
        font-weight: 600;
        margin-top: $marge;
    }
    form{
        padding: $marge;
        display: flex;
        gap: calc($marge / 3);
        flex-direction: column;
        width: clamp(185px, 30vw, 325px);
        label{
            font-weight: 500;
        }
    }
}